@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "neue haas display";
}

@keyframes typing {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

.typing-container {
  overflow: hidden;
  white-space: nowrap;
}

.typing-container::before {
  content: attr(data-text);
  display: inline-block;
  width: 0;
  opacity: 0;
  animation: typing 3s steps(40) infinite;
}



.spinner-border {
  color: rgb(0, 0, 0) !important;
}

button.btn-close {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

button.btn.btn-danger {
  background-color: #dc3545 !important;
}

button.btn.btn-dark {
  background-color: #000000 !important;
}


.spinner-border {
  display: inline-block !important;
  width: 50px !important;
  color: #083e3e !important;
  position: fixed !important;
  top: 50% !important;
  height: 50px !important;
  left: 50% !important;
  vertical-align: -0.125em !important;
  background-color: currentColor !important;
  border-radius: 50% !important;
  -webkit-animation: .75s linear infinite spinner-grow !important;
  animation: .75s linear infinite spinner-grow !important;
}